# Python
__pycache__/
*.pyc

# Data & Models
data/
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# LaTeX / PDF
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
main.pdf

# Outputs
temp_output.txt
charts_output.txt
results/
*.png
